body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 5vw;  /* Scales text based on screen width (good for mobile) */
    text-align: center;
    background-color: #323339;
    color: #fff;
}

hr {
    width: 500px;
}

.center-container {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 0 auto;
}

#bench, #chara, #water {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bench {
    background-image: url('images/bench.png');
    z-index: 5;
}

#chara {
    background-image: url('images/kana.gif');
    z-index: 10;
}

#water {
    background-image: url('images/water.gif');
    z-index: 15;
    opacity: 0.6;
}
  
  .game-over-section button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8f7a66;
    color: #f9f6f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

button {
font-size: 5vw;
padding: 3vw 6vw;
margin: 4vw;
}

/* Media query for desktop */
@media (min-width: 1000px) {
  body {
    font-size: 14px; 
    padding: 20px;
  }

  button {
    font-size: 14px;  
    padding: 10px 20px;
    margin: 10px;
  }
}